html {
  font-family: "Noto Sans", sans-serif;
}

.font-ja, i {
  font-family: "Noto Sans Japanese", sans-serif;
}

.box {
  border-bottom: 2px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
}

a {
  color: #860927;
}

a:hover {
  color: #d89fb0;
}

.btn-ghost {
  color: #860927;
  border: 2px solid #b64c6e;
  border-radius: 3px;
}

.btn-ghost:hover {
  background-color: #e2e2e2;
}

.btn {
  color: #860927;
}

.btn:hover {
  color: #d89fb0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

@media only screen and (min-width: 60em) {

  .header {
    text-align: left;
  }
}
