html {
  font-family: "Noto Sans Japanese", sans-serif;
  font-family: 'Noto Sans', sans-serif;
}

.btn-ghost {
  color: #860927;
  border: 2px solid #b64c6e;
  border-radius: 3px;
  padding: 2px;
}

.btn-ghost:hover {
 background-color: #e2e2e2;
}

.btn {
  color: #860927;
}

.btn:hover {
  color: #b64c6e;
}

ul {
  list-style-type: none;
}
